body {
    min-height: 100vh;
}
.wrapper{
    min-height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #2c4a52;
}

.logo {
    margin-left: 30px;
   width: 200px;
}
.logo img {
    width: 100%;
}
.menu {
    margin-right: 30px;
    
    text-transform: uppercase;
    font-size: 20px;
    
}
.menu a {
    color: #F4EBDB;
    text-decoration: none;
    margin-left: 15px;
}
.main-page {
    background: radial-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5) 80%,rgba(0, 0, 0, 0.2)), url(../img/1.jpg);
    background-repeat: no-repeat;
    color: #F4EBDB;
    text-align: center;
    padding-top: 200px;
    font-family: 'Oswald', sans-serif;
    
}
.main-description h1 {
    text-transform: uppercase;
    font-size: 40px;
}
.main-description p {
    text-transform: uppercase;
    font-size: 20px;
}
.main-description button {
    width: 350px;
    height: 55px;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    background-color: #f4ebdb;
    color: #234042;
}

.about {
    height: 100vh;
}
.about-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.about-text-cont {
    background-color: #2c4a52;
    width: 50%;
    height: 50vh;
}
.about-text {
    text-align: center;
    padding: 30px 60px;
    color: #f4ebdb;
    font-family: 'Train One', cursive;
}
.about-text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 30px 0;
}
.about-text p {
    color: #d0cbbb;
}
.about-image {
    width: 50%;
    height: 50vh;
}
#about-image1 {
    background-image: radial-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4) 80%,rgba(0, 0, 0, 0.3)), url(../img/about1.jpeg);
    background-size: cover;
}
#about-image2 {
    background: radial-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4) 80%,rgba(0, 0, 0, 0.3)), url(../img/about2.jpg);
    background-size: cover;
}
.advantages {
    background: radial-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) 80%,rgba(0, 0, 0, 0.5)), url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
.advantages-container {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    
    height: 100vh;
}
.advantages-card {
    width: 400px;
    background-color: #8e9b97;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.advantages-title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #202820;
    margin: 20px 0;
}
.advantages-description {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #334332;
    margin-bottom: 20px;
}
.advantages-icon {
    margin-top: 20px;
}   

.price {
    height: 100vh;
}
.price-container {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) 80%,rgba(0, 0, 0, 0.5)), url(../img/pricebg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* общие параметры для всей таблицы */
.price-table {
    padding-top: 100px;
    margin: 0px auto; /* отступ сверху и снизу от таблицы 10px, слева и справа 0 */
    width: 80%; /* ширина таблицы */
}
/* параметры для ячейек заголовков */
.price-table th {
    background: #2c4a52; /* цвет ячейки заголовка */
    height: 60px;
    color: #FFFFFF; /* цвет шрифта заголовка */
    font-family: 'Oswald', sans-serif;
    font-size: 20px; /* размер шрифта заголовка */
    padding: 10px; /* внутренний отступ в заголовке */
    text-align: center; /* расположение текста по центру ячейки заголовка (центрирование) */
}
/* параметры для нечетных строк таблицы 1,3,5,7 и т.д. */
.price-table tr:nth-child(odd) {
    background: #8e9b97; /* цвет фона строки */
}
.price-table tr:nth-child(even) {
    background: gray; /* цвет фона строки */
}
/* параметры только для первой ячейки в каждой из строк */
.price-table td:nth-child(1) {
    text-align: left;
    text-transform: uppercase;
}
/* параметры для всех ячеек таблицы */
.price-table td {
    font-size: 17px; /* размер шрифта */
    padding: 4px 10px; /* внутренний отступ в ячейки от края */
    vertical-align: middle; /* горизонтальное выравнивание */
    text-align: center; /* текст по центру */
    color: white;
    height: 50px;
}

.list {
    height: 80vh;
    background: radial-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) 80%,rgba(0, 0, 0, 0.5)), url(../img/list.jpg);
}
.list-container {
    padding-top: 120px;
    width: 60%;
    margin: 0 auto;

}
.list-container form {
    background-color: #2c4a52;
    border-radius: 30px;
    padding: 30px 0;
    text-align: center;
}

.list-container form h3 {
    font-family: 'Oswald', sans-serif;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    color: #F4EBDB;
}

.list-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list-form input {
    width: 280px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    background-color: #F4EBDB;
    color: #2c4a52;
    font-size: 17px;
}
.list-form input:first-child {
    margin-right: 40px;
    
}
.list-btn {
    width: 325px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #F4EBDB;
    color: #2c4a52;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 700;

}
.footer {
    height: 20vh;
    background-color: #2c4a52;
}
.foot-container {
    display: flex;
    color: #F4EBDB;
    align-items: center;
    justify-content: space-around;
    max-width: 80vw;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    line-height: 25px;
    font-size: 18px;
}
.foot-container li {
    list-style-type: none;
}
.company {
    color: lightslategray;
    text-align: center;
}